{% block content %}
<div class="reel-container">
    <!-- Reel Embed Code -->
    {% if content.source == 'instagram' %}
    <!-- Use Instagram embed template. Inject the identifier using {{ content.source_identifier }} -->
    <h2 class="title-resource">{{ content.title | safe }}</h2>
    {{ content.embed_code | safe }}
    <!-- Add Instagram embed script here, only when source is Instagram -->
    <script async src="//www.instagram.com/embed.js"></script>

    {% elif content.source == 'youtube' %}
    <!-- Use Youtube embed template -->
    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{ content.source_identifier }}?si=7eRCL1TMBDgE7yQB"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
    {% endif %}
</div>


{% endblock content %}