{% block content %}
<div class="reel-container">
    {% if content.source == 'instagram' %}
    <!-- Instagram Embed code -->
    <section>
        <h2 class="title-resource">{{ content.title | safe }}</h2>
        <div class="embed-instagram">
            {{ content.embed_code | safe }}
        </div>
        <!-- Instagram embed script -->
        <script async src="//www.instagram.com/embed.js"></script>
    </section>
    {% elif content.source == 'youtube' %}
    <!-- Youtube embed template -->
    <section>
        <h2 class="title-resource">{{ content.title | safe }}</h2>
        <!-- Bootstrap class maintains a 16:9 aspect ratio and ensures responsiveness for the YouTube video -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/{{ content.source_identifier }}?si=7eRCL1TMBDgE7yQB"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </section>
    {% endif %}
</div>
{% endblock content %}