{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row justify-content-center"> <!-- Center the row horizontally -->
        <div class="col-md-8 mt-2">
            <div class="row">
                {% for topic in topic_list %}
                <div class="col-md-6"> <!-- Use col-md-6 for two columns -->
                    <div class="card mb-4 h-95">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <!-- <p class="author">Author: {{ topic.author }}</p> -->
                                </div>
                            </div>
                            <a href="{% url 'topic_detail' topic.slug %}" class="topic-link">
                                <h2 class="card-title">{{ topic.title }}</h2>
                                <p class="card-text">{{ topic.description }}</p>
                            </a>

                            <!-- <p class="card-text text-muted h6">{{ topic.created_on}} -->
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> PREV &laquo;</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<!-- index.html content ends here -->
{% endblock %}