body {
  background-color: #f9fafc;
}

/* Website title: brand */
.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4a4a4f;
}

.another-colour,
.text-muted {
  color: #9d88b3 !important;
}

.purple-part {
  color: #594275;
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

h1.hidden-heading {
  display: none;
}

/* Footer */
.dark-bg {
  background-color: #594275;
  color: #fff;
}

/* Background color */
.main-bg {
  background-color: #f9fafc;
}

/* Topic cards */
.card {
  background-color: transparent;
  border: none;
}

.card-title {
  font-size: 1.66rem;
}

.card-text {
  font-size: 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-topic-title {
  width: min-content;
}

/* Topic image */
.image-container {
  width: 13rem;
  height: 13rem;
}

.image-container:hover {
  border: 4px solid #fff;
}

.masthead {
  margin-top: 0.4rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
}

.masthead-text {
  background-color: #594275;
  color: white;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.topic-link {
  text-decoration: none;
}

.card-title {
  text-decoration: none;
  color: #445261;
}

.image-container:hover img {
  border: 1px solid #fff;
  transform: scale(0.95);
}

.image-container:hover + .card-title {
  color: #b09cc6;
  font-weight: 500;
}

.card-title:hover {
  color: #b09cc6;
  font-weight: 500;
}

.card-text {
  color: #445261;
}

.page-link {
  color: #583681;
  border-radius: 10px;
}

.page-link:hover {
  color: #935bd0;
}

.topic-title {
  margin-top: 5%;
}

.topic-subtitle {
  margin-bottom: 5%;
  color: lightgray;
}

/* Title reel */
.title-resource {
   /* Topic card with same height */
  height: 5.20rem;
  background-color: #7f5ea3;
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.7rem;
  border-radius: 0.25rem;
}

.custom-background {
  background-color: #664984;
}

.form-custom-word {
  color: #9a86b1;
  font-weight: 500;
}

.btn-signup,
.btn-cancel {
  background-color: #594275;
  color: #fff;
}

.btn-edit {
  background-color: #a277d1;
  color: #fff;
}

.btn-edit:hover {
  background-color: #a277d1;
  color: #fff;
}

.btn-signup:hover,
.btn-signup:active,
.btn-cancel:hover {
  background-color: #692fc8;
  color: #fff;
}

.btn-secondary {
  background-color: #594275;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #9351ff;
  color: #fff;
}

/* Submit button form */
.btn-form {
  background-color: #9a86b1;
  color: #fff;
}

.btn-form:hover {
  background-color: #9975c2;
  color: #fff;
}

.link {
  color: #692fc8;
  text-decoration: none;
}

.link:hover {
  color: #8c70aa;
  text-decoration: underline;
}

.link:active {
  color: #692fc8;
}

.btn-like {
  color: #9d88b3;
  border: none;
  background: transparent;
}

/* Deletion button */

.btn-delete {
  color: #fff;
  background: #534f58;
}

.btn-delete:hover {
  background: #ba0000;
  color: #fff;
}

.btn-like:hover,
.btn-like:active {
  color: #fff;
  background: #ba0000;
  border: none;
}

.alert {
  background-color: #692fc8;
  color: #fff;
}

.faded {
  color: #b1a8b9;
}

.approval {
  color: #baa1d5;
}

/* Error pages */
.underline-link {
  text-decoration: underline;
}

/* Override breakpoint to improve responsiveness in tablets */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 440px;
  }
}

/* Media query for big screens */
@media (min-width: 4890px) and (min-height: 2942px) {
  /* Styles for the website body */
  .website-body {
    max-width: 1800px;
    margin: auto;
  }
}

@media (min-width: 5120px) and (min-height: 2880px) {
  /* Styles for the website body */
  .square-body {
    max-width: 1800px;
    margin: auto;
  }
  .text-end {
    text-align-last: center;
  }
  .square-nav {
    width: 40%;
  }
}