{% load static %}

{% url 'home' as home_url %}
{% url 'about_page' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Meta tag to allow different devices to scale the content-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Content security policy -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Meta tags for search engines -->
    <meta name="description"
        content="Discover comprehensive social media resources on Narcissistic Personality Disorder, including expert insights, support communities, and practical tips. Explore now and empower yourself." />
    <meta name="keywords"
        content="Narcissistic Personality Disorder, NPD, NPD resources, Personality disorders, Mental health support, Coping strategies, Therapy options, Online communities, Support groups, Understanding NPD, Self-help techniques, Psychological resources, Emotional resilience, Managing relationships, Self-care practices, Empowerment tools, Recovery journey, Awareness journey, Mental wellness tips, Peer support, Instagram reels, Reels, Abuse, Violence, Abusive behaviours, Violent behaviours" />

    <!-- Title -->
    <title>Narcissism Personality Disorder: Social Resources</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Theme Color for Address Bar -->
    <meta name="theme-color" content="#7f5ea3">

</head>

<body class=" website-body d-flex flex-column h-100 main-bg">
    <!-- Website header -->
    <header>
        <!-- Navigation content -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="square-nav container-fluid"> 
                <!-- wrapper div for the title to control its size -->
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <span class="purple-part brand">
                            Narcissistic</span>
                        <span class="brand purple-part">
                            Personality</span>
                        <div class="row">
                            <div class="col-lg-12 col-">
                                <span class="brand d-lg-inline d-block">
                                    <span class="purple-part">
                                        Disorder</span>
                                    <span class="another-colour">
                                        | Social Resources | </span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                                href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link
                             {% if request.path == about_url %}active" aria-current="page{% endif %}"
                                href="{% url 'about_page' %}">About</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- Auxiliary text -->
                    <span class="navbar-text text-muted another-colour">
                        | Educate yourself and break free
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
            fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <!-- {% if not user.is_authenticated %}
                    <p>Login <a href="{% url 'account_login' %}">here</a></p>
                    {% endif %} -->
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">

        {% if user.is_authenticated %}
        <p class="text-end m-3">You are logged in as {{ user }} </p>

        {% else %}
        <p class="text-end m-3">You are not logged in. <br>Log <a class="purple-part"
                href="{% url 'account_login' %}">here</a>.</p>
        {% endif %}


        <h1 class="hidden-heading">Narcissist Personality Disorder Social resources content</h1>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->

    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 mx-4 text-center text-xs">Narcissistic Personality Disorder | Social Resources © 2024. <br> All
            rights
            reserved</p>
    </footer>

    <!-- JavaScript for Bootstrap functionality -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>

    {% block extras %}
    {% endblock %}

</body>

</html>