body {
  background-color: #f9fafc;
}

/* Website title: brand */
.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4a4a4f;
}

.another-colour {
  color: #9D88B3;
}

.purple-part {
  color: #594275;
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

/* Footer */
.dark-bg {
  background-color: #594275;
  color: #fff;
}

.main-bg {
  background-color: #f9fafc;
}

/* Topic cards */
.card {
  background-color: transparent;
  border: none;
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #9d88b3;
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #594275;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.topic-link {
  text-decoration: none;
  color: #445261;
}

.topic-link:hover {
  color: #692fc8;
}

.page-link {
  color: #445261;
}

.topic-title {
  margin-top: 10%;
  margin-left: 5%;
}

.topic-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.title-resource {
  font-size: 1.5rem;
}

/* Topic images  */
.image-container {
  width:15rem;
  height: 15rem;
}


.btn-signup {
  background-color: #9351ff;
  color: #fff;
}

.btn-edit {
  background-color: #a277d1;
  color: #fff;
}

.btn-edit:hover {
  background-color: #a277d1;
  color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #692fc8;
  color: #fff;
}

.btn-secondary {
  background-color: #594275;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #9351ff;
  color: #fff;
}

.link {
  color: #692fc8;
  text-decoration: none;
}

.link:hover {
  color: #8c70aa;
  text-decoration: underline;
}

.link:active {
  color: #692fc8;
}

.btn-like {
  color: #9d88b3;
  border: none; 
  background: transparent;
}

/* Deletion button */

.btn-delete {
  color: #fff;
  background: #534f58;
}

.btn-delete:hover {
  background: #ba0000;
  color: #fff;
}

.btn-like:hover,
.btn-like:active {
  color: #fff;
  background: #ba0000;
  border: none;
}

.alert{
  background-color: #692fc8;
  color: #fff;
}

.faded {
  color: #b1a8b9;
}

.approval {
  color: #baa1d5;
}