{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 custom-background text-white text-left card rounded-100 my-3 p-4">
                <h2>{{ about_page.title }}</h2>
            {{ about_page.content | safe }}
        </div>
        <div class="col-md-6 border border-4 mb-4 mx-4 card rounded-100">
            <div class="card my-4">
                <div class="text-center mb-4"> <!-- Add margin bottom -->
                    <h2>Get in touch <span class="form-custom-word">:)</span></h2>
                    <p>Feel free to leave <span class="form-custom-word">feedback</span> or a <span
                            class="form-custom-word">collaboration request</span>. </br>
                        I have big plans and I'll be happy to hear from you!</p>
                </div>
                <!-- Form -->
                <div class="text-center">
                    <form method="post">
                        {{ collaborate_form | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-form" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}